<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <link rel="shortcut icon" href="#">
  <title>Format Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Format Document</h1>
  <form id="uploadForm">
    <label for="separator_character">Separator character:</label>
    <input type="text" id="separator_character" name="separator_character"><br><br>
    <label for="num_columns">Number of columns:</label>
    <input type="number" id="num_columns" name="num_columns"><br><br>
    <input type="file" name="file"><br><br>
    <button type="submit">Upload</button>
  </form>
  <p id="message1"></p>
  <button id="download" style="display:none;">Download Output Ready</button>
  <p id="message2"></p>
  <button id="refresh" style="display:none;">Refresh</button>
  <h3>by: Joel Gutierrez E.</h3>

  <script>
    document.getElementById("uploadForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent page from reloading on submit
      
      var formData = new FormData(this);

      fetch("/api/upload", {
        method: "post",
        body: formData
      })
        .then(response => response.text())
        .then(data => {
          document.getElementById("message1").textContent = data;
          document.getElementById("download").style.display = "block";
          document.getElementById("refresh").style.display = "block";
        })
        .catch(error => {
          console.error("Request failed:", error);
        });
    });

    document.getElementById("download").addEventListener("click", function() {
      window.location.href = "/download";
      setTimeout(function() {
        window.location.href = "/";
      }, 1000);
    });

    document.getElementById("refresh").addEventListener("click", function() {
      window.location.href = "/";
    });

  </script>
</body>
</html>
